/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Type */
body {
	font: 0.75em/1.65 'Open Sans', sans-serif;
	color: #3f3f3f;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}
a {
	color: #3f3f3f;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:focus {
	outline: none;
}
h1 {
	font-size: 3.4em;
	font-weight: 300;
	line-height: 1.3;
}
h2 {
	font-size: 3.2em;
	font-weight: 300;
}
h3 {
	font-size: 2em;
	font-weight: 300;
	line-height: 1.2;
}
h4 {
	font-size: 1.5em;
	font-weight: 400;
}
h5 {
	font-size: 1.167em;
	font-weight: 400;
}
h6 {
	font-size: 0.833em;
	font-weight: 400;
}
p {
	/* font-size: 1.333em; */
	font-size: 1.5em;
	font-weight: 400;
}
span {
    font-weight: 400;
}
hr {
	border: 0 #ccc solid; border-top-width: 1px; clear:both; height: 0;
}
h1, h2, h3, h4, h5, h6, ol, dl, pre, table, address, fieldset, p, hr {
	margin-bottom: 20px;
}
strong {
	font-weight: bold;
}
/* Global */
#header {
    padding: 20px 0 60px 0;
    text-align: center;
}
.logo-wrapper {
    background: #0087f7;
    padding: 40px 0 40px 0;
    margin-bottom: 60px;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
#logo {
    width: 80px;
    height: 80px;
    display: block;;
    margin: 0 auto;

    background-color: #fff;
    -webkit-mask: url(../images/cooking-logo.svg) no-repeat center;
    mask: url(../images/cooking-logo.svg) no-repeat center;
}
#upload {
    width: 50%;
    margin: 0 auto 40px auto;
    /* float: left; */
}
#dropzone {
    max-width: 660px;
    margin: 40px auto 0 auto;
}
.btn {
    background-color: #0087f7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.167em;
    cursor: pointer;
    /* float: right; */
    margin: 0 auto 40px auto;
}
#main {
    margin-top: -40px;
}
#result {
    width: 95%;
    margin: 0 auto;
    display: none;
}
#recipe {
    width: 1000px;
    margin: 0 auto 60px auto;
    text-align: left;
    overflow: hidden;
}
.recipe-image {
    display: block;
    width: 300px;
    float: left;
    margin-right: 40px;
}
.recipe-texts {
    float: left;
    width: 600px;
}
.recipe-texts h4 {
    margin: 0;
}
#image-transfer {
    width: 1000px;
    clear: both;
    margin: 0 auto 40px auto;
    text-align: left;
}
#image-transfer img {
    max-width: 1000px;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #ececec;
}
#search-results {

}
#newSearch {
    display: none;
}


/* dropzone */
/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
.dropzone, .dropzone * {
    box-sizing: border-box;
}
.dropzone {
    position: relative;
    border: 2px dashed #0087f7;
    padding: 54px 54px;
    margin-bottom: 40px;
}
.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    width: 120px;
    margin: 0.5em;
}
.dz-default.dz-message {
    font-size: 2.2em;
	font-weight: 300;
	line-height: 1.2;
    color: #0087f7;
}
.dropzone .dz-preview .dz-progress {
    display: block;
    height: 15px;
    border: 1px solid #aaa;
}
.dropzone .dz-preview .dz-progress .dz-upload {
    display: block;
    height: 100%;
    width: 0;
    background: green;
}
.dropzone .dz-preview .dz-error-message {
    color: red;
    display: none;
}
.dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
    display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
    display: block;
}
.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
    position: absolute;
    display: none;
    left: 30px;
    top: 30px;
    width: 54px;
    height: 58px;
    left: 50%;
    margin-left: -27px;
}
